@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2rem;
}

.App {
  text-align: center;
}

